<!-- <div class="user-card">
 
  </div> -->

<div class="user-card" [ngClass]="{'isActive': selectedIndex === index}" (click)="viewMessageCard(index)">
  <div class="user-profile  ">
    <mat-icon color="primary" class="user-icon">account_circle</mat-icon>
    <span class="user-detail ">
      <span>{{name}}{{index}}</span>
      <br>
      <span>{{neeLe}}</span>
      <br>
      <span>{{phone}}</span>
    </span>
    <span>
      <span>
        <i class=" far fa fa-bell fa-2x" style="color: grey; margin-top: 13px"></i>
      </span>
    </span>
  </div>
  <mat-divider></mat-divider>
  <div class="detail">
    <div class="d1">
      <span *ngIf="!notifications">Prochain RDV le {{prodv}}</span>
      <span *ngIf="notifications">{{notifications}} Notifications</span>
    </div>

    <!-- 
    <span style="background-color: forestgreen">
      <i class="fas fa-arrow-alt-right"></i>
      <i class="fas fa-bell"></i>
    </span> -->
  </div>



</div>
