.user-card {
  width: 364px;
  height: 106px;
  border-radius: 4px;
  box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.11);
  margin: 0.5em;
  color: black;
  display: flex;
  flex-direction: column;
}

.user-icon {
  font-size: 52px;
  margin: 7px;
  display: flex;
}

.user-profile {
  display: flex;
  flex: 0.27;
}

.detail {
  height: 17px;
  font-family: Arial;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: -0.11px;
  color: #b33e76;
  display: flex;
  flex-direction: row;
  margin-left: 3em;
  display: flex;
  flex-direction: row;
}

.d1 {
  flex: 3;
}

.d2 {
  flex: 1;
}

.line {
  width: 1280px;
  height: 720px;
}

.user-detail {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  margin-top: 1em;
  flex: 0.9;
}
