.page-header {
  background-color: lightcoral;
}

.content-navigation {
  background-color: lightblue;
}

.content-sidebar {
  background-color: lightgreen;
}

.page-footer {
  background-color: lightseagreen;
}

main {
  height: 100%;
  display: flex;
}

article {
  background-color: maroon;
  flex: 2 2 12em;
}

nav,
aside {
  flex: 1;
}

.page-content {
  height: 100%;
  display: flex;
}

.content-article {
  background-color: limegreen;
}

:host {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

.nav-brand {
  text-align: center;
  font-size: -webkit-xxx-large;
}

.login-user {
  width: 151px;
  height: 15px;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.13px;
  margin-top: 22px
}

nav a {
  display: inline-block;
  padding: 5px;
  background: red;
}

.topnav-icon {
  text-decoration: none;
  display: flex;
  color: white;
}

.nav-spacer {
  flex: 0.1 1 auto;
}

.nav-spacer-2 {
  flex: 1 1 auto;
}

.user-icon {
  font-size: 52px;
  margin: 7px;
  display: flex;
}

.visible-md {
  display: none;
}

.visible-sm {
  display: none;
}

@media screen and (max-width: 992px) {
  .visible-md {
    display: block;
  }
}

@media screen and (max-width: 768px) {
  .visible-sm {
    display: block;
  }
  .nav-brand {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
}

body {
  box-sizing: border-box;
  border: 4px solid black;
}

.main-di {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row1 {
  display: flex;
  flex-direction: row;
}

.row2 {
  display: flex;
  flex-direction: row;
}

.search-1 {
  font-size: 1rem;
  width: 364px;
}

.form1 {
  /* flex-direction: row; */
  /* background-color: red; */
  width: 180px;
  margin-left: 11px;
  height: 54px;
}

.master {
  display: contents;
}
