<!-- <mat-toolbar color="primary" class="fix-nav">

  <button type="button" mat-icon-button (click)="toggleSidebar()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="nav-brand">
    hylphy
  </div>
  <span class="nav-spacer"></span>
  <form class="hidden-sm" style="margin-right: 20px; margin-top: 8px;">
    <mat-form-field style="font-size: 1rem;  width:419px;">
      <input matInput placeholder="Search">
    </mat-form-field>
  </form>
  <span class="nav-spacer-2"></span>
  
  <button class="hidden-sm" mat-icon-button [matMenuTriggerFor]="profile">
    <mat-icon>account_circle</mat-icon>
  </button>

  <mat-menu #profile="matMenu" [overlapTrigger]="false">
    <button mat-menu-item>
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>

    <button mat-menu-item>
      <mat-icon>inbox</mat-icon>
      <span>Inbox</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
  </mat-menu>
  <div class="login-user">
    Steve Boulot
  </div>
  <div class="login-user">
    Lun. 18 Mars 2020 16:12
  </div>
  <button mat-icon-button (click)="onLoggedout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>

  <nav>
    <a href="#">One</a>
    <a href="#">Two</a>
    <a href="#">Three</a>
  </nav>
</mat-toolbar> -->


<mat-toolbar color="primary" class="fix-nav" style="height: 84px;">
  <div class="main-di">
    <div class="row1">
      <!-- <span>deepali</span>
      <div>dsss</div> -->
      <span style="margin-top: 13px">
        <button type="button" mat-icon-button (click)="toggleSidebar()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </span>
      <span style="margin-top: 14px;width: 128px;">Fyne</span>
      <span>
        <form class="hidden-sm" class="form1">
          <mat-form-field class="search-1">
            <input matInput placeholder="Search">
          </mat-form-field>
        </form>
      </span>
      <span class="nav-spacer-2"></span>
      <span>
        <mat-icon color="white" class="user-icon">account_circle</mat-icon>
      </span>

      <div class="login-user">
        {{userData.name}}
      </div>
      <div class="login-user">
        Lun. 18 Mars 2020 16:12
      </div>
      <span style="margin-top: 11px">
        <button mat-icon-button (click)="onLoggedout()">
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </span>

    </div>


    <div class="row2">
      <span *ngFor="let modules of userData.allowedModules">

        <span>
          <button mat-button>{{modules}}</button>
        </span>

      </span>

      <!-- 

      <span>
        <button mat-button>{{modules}}</button>
      </span>
      <span>
        <button mat-button>Agenda</button>
      </span>
      <span>
        <button mat-button>Patient</button>
      </span>
      <span>
        <button mat-button>Messagerie</button>
      </span> -->
    </div>
  </div>
</mat-toolbar>
